@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .apple,
.banana {
  display: grid;
  grid-template-columns: 1fr;
}

.apple section,
.banana div {
  grid-row-start: 1;
  grid-column-start: 1;
  transition: all 0.25s ease-in-out;
}

.banana div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: max-content;
} */