@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* icon selector list scrollbar    */
#icon-selector-list {
  ::-webkit-scrollbar-track {
    border-radius: 9px;
  }
}

/* html,
#icon-selector-list { */
::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #0C2123;
}

::-webkit-scrollbar-thumb {
  background-color: #94D9E2;
  border: 4.6px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

/* Hiding scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hiding scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
scrollbar-width: none;  /* Firefox */
-ms-overflow-style: none;  /* IE and Edge */
}

/* .avoid-stretch{
  display: -webkit-box;
} */


/* random test  (should be deleted) */
.bro{
  background: #a3b8c2;
  background: #f0f3f5;
  background: #0F2C30;
  background: #94d9e2;
  
  background: #a3bfc3;
  background: #dee3e3;
}
